[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
python-gettext = "*"
django-extensions = "*"

[dev-packages]
black = "*"
flake8 = "*"
awsebcli = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
