@tailwind base;
@tailwind components;

.search-box {
    transition: box-shadow .2s linear;
}

.nav_link {
    @apply ml-8 border-b-2 border-white h-full flex items-center;
    a {
        @apply py-9 px-3;
    }
    &:hover {
        @apply border-gray-600;
    }
}

.btn {
    @apply text-center rounded-sm py-5 font-bold text-lg w-full;
}

.btn-link {
    @apply text-center py-3 rounded-lg font-bold text-lg w-full text-white bg-red-400;
}

input {
    @apply text-left rounded-sm py-5 font-bold text-lg w-full border border-gray-600 px-5;
    &:focus {
        @apply outline-none border-green-400;
    }
}

form {
    .input {
        @apply mb-3;
        &.has_error {
            input {
                @apply bg-red-200 border-gray-400;
                &:focus {
                    @apply border-gray-600;
                }
            }
        }
    }
}

@keyframes messageFadeIn {
    0%{
        opacity: 0;
        transform:translateY(-30px) rotateX(0);
    }
    20%{
        opacity: 1;
        transform:translateY(30px) rotateX(1turn);
    }
    80%{
        opacity: 1;
        transform:translateY(30px) rotateX(1turn);
    }
    100%{
        opacity: 0;
        transform:translateY(-30px) rotateX(0);
    }

}

.message {
    animation: messageFadeIn 2s ease-in-out forwards;
    &.error{
        @apply bg-red-600;
    }
    &.info{
        @apply bg-blue-500;
    }
    &.success{
        @apply bg-green-500;
    }
    &.warning{
        @apply bg-yellow-400;
    }
}
@tailwind utilities;